@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, label, input, select {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Basic styling for the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #f4f4f4;
}

/* Styling for the form */
.form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 200%;
  overflow: center;
  margin: center;
}

.form-content {
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 100px;
}

header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.button-field {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Style the select dropdown arrow */
.form-control::-ms-expand {
  display: none;
}

.form-control::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Add some spacing between the select options */
.form-control option {
  padding: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .container {
      padding: 20px;
  }

  .form {
      width: 100%;
  }
}